/* Perfecting navigation bar */


nav.navbar{
   margin-top: 5px;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0{
    text-align: center;
    width: fit-content;
    margin: auto;
    background-color: black;
    border-radius: 25px;
}

li.nav-item{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

li.navbar {
    margin-left: 40px;
}

a{
    color: white;
}

a.nav-link.active{
    background-color: rgb(149, 63, 63);
    border-radius: 15px;
}

a.nav-link.active:hover{
    background-color: rgb(33, 30, 30);
    color: white;
}

a.nav-link{
    color: whitesmoke;
    border-radius: 15px;
}

a.nav-link:hover{
    text-decoration: underline;
    text-underline-position: below;
    color: whitesmoke;
    background-color: rgb(149,63,63);   
}

div.row{
    margin-left: auto;
    margin-right: auto;
}


/* dropdown menu */

ul.dropdown-menu{
    background-color: rgb(50, 50, 50);
    border-radius: 15px;
}

a.dropdown-item{
    color: white;
}

/* search in nav bar */

input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/search.png');
    filter: invert(100%);
    background-size: 20px;
    background-position: 10px center; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 60px;
  }


/* body */

body{
    background-color: grey;
    color: whtie;
}

