.heading-2 {
    font-size: 300%;
    text-align: center;
    font-weight: bolder;
}

.byte-colour {
    color: rgb(8, 6, 136);
    font-weight: bolder;
}

.bay-colour {
    color: rgb(25, 140, 250);
    font-weight: bolder;
}

.card {
    border-radius: 12px !important;
    margin: 10px;
}

.card-img-top {
    padding: 15px;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    width: fit-content;
    margin: 0 auto;
}

@media only screen and (max-width: 575px) {
    .card {
        margin: 10px auto;
    }
}