/* Intro */

.intro{
    font-size:xx-large;
    text-align: center;
    padding: 2cm;
    background-color: rgb(153, 153, 153) !important;
}

/* best sellers */

div.card{
    margin: 7px;
    border-radius: 12px !important;
}

/* new product */

.newest {
    display: flex;  
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top{
    padding: 15px;
}
