/* Intro */

.intro {
    font-size: xx-large;
    text-align: center;
    padding: 2cm;
    display: block;

}

/* best sellers */

div.card {
    margin: 7px;
    border-radius: 12px !important;
}

/* new product */

.newest {
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top {
    padding: 15px;
    height: auto;
}

h3 {
    padding-left: 50px;
}

.card {
    font-size: 20px !important;
    position: relative;
    display: flex;

}