/* Perfecting navigation bar */

li.nav-item {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

li.navbar {
    margin-left: 40px;
    padding: 0%;
    margin-right: auto;
}

a.nav-link.active {
    border-radius: 15px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

a.nav-link {
    border-radius: 15px;
    padding-left: 15px;
}

a.nav-link:hover {
    text-underline-position: below;

}

div.row {
    margin-left: auto;
    margin-right: auto;
}


/* dropdown menu */

ul.dropdown-menu {
    border-radius: 15px;

}

a.dropdown-item {
    padding: 6px 20px;
}

/* search in nav bar */

input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 16px;
    background-image: url('../images/search.png');
    background-size: 20px;
    background-position: 20px center;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 60px;
}

#themeicon {
    background-color: transparent;
    border: 0;
}

/* responsive nav bar */
@media only screen and (max-width: 991px) {
    #themeicon {
        margin-top: 30px;
        margin-left: 25px;
    }

    input[type=text] {
        margin-left: 25px;
        margin-top: 15px;
    }
}