.heading-1 {
    font-size: 400%;
    text-align: center;
    font-weight: bolder;
}

.byte-colour {
    color: rgb(8, 6, 136);
    font-weight: bolder;
}

.bay-colour {
    color: rgb(25, 140, 250);
    font-weight: bolder;
}

#mac2 {
    width: 100% !important;
    padding-right: 0%;
}

img {
    width: 70%;
}

.ByteBay_Logo {
    width: 120px !important;
}

.watch-text {
    padding-left: 10%;
}

.mac2-text {
    padding-left: 30%;
}

.card-body {
    text-align: justify;
}

.toll-free {
    margin-bottom: 0%;
}

.card {
    width: 100%;
    height: auto;
    padding-left: 10px;
    position: relative;
    border-radius: 15px;
}

.btn-primary {
    text-align: center;
}

.col {
    padding-bottom: 10px;
}